.account-info {
    position: relative;
    /*top: 40px;*/
    /*width: 150px;*/
    /*right: 0;*/
    /*margin-right: 5px;*/
    /*border: 1px solid grey;*/
    /*background: #fff;*/
}
.account-info .visible-part {
    user-select: none;
    cursor: pointer;
}
.account-info .hidden-part {
    position: absolute;
    z-index: 10;
    width: 0;
    opacity: 0;
    right: -20px;
    top: 30px;
    border: 1px solid grey;
    background: #fff;
    transition: width 200ms, opacity 200ms;
    overflow: hidden;
}
.account-info .hidden-part.visible {
    width: 150px;
    opacity: 1;
}
.account-info .hidden-part .link {
    padding: 10px;
    border-bottom: 1px solid grey;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
}
.account-info .hidden-part .link:hover {
    background: #d8d8d8;
}
.account-info .hidden-part .link.active {
    background: #d8d8d8;
    cursor: not-allowed;
    /*opacity: .7;*/
}