.app-confirm-modal {
    padding: 10px 20px;
}
.app-confirm-modal .question {

}
.app-confirm-modal .buttons {
    display: flex;
    justify-content: flex-end;
}
.app-confirm-modal .buttons button {
    padding: 4px 10px;
    border: 1px solid grey;
    font-size: 15px;
    cursor: pointer;
    user-select: none;
    margin-right: 5px;
}
.app-confirm-modal .buttons button:last-of-type {
    margin-right: 0;
}
.app-confirm-modal .buttons button:focus {
    outline: none;
}
.app-confirm-modal .buttons button:active {
    transform: scale(.98);
}