.app-home-screen {
    padding: 30px;
}
.app-home-screen .link {
    display: block;
    padding: 10px 20px;
    margin-bottom: 10px;
}
.app-home-screen .link:hover {
    background: #f1f1f1;
}
.app-home-screen a.link {
    text-decoration: none;
    color: #000;
    font-size: 18px;

}