.app-notes-screen {
    padding: 0 30px;
}
.app-notes-screen .app-add-note-button {
    position: fixed;
    right: 25px;
    bottom: 25px;
}
.app-notes-screen .app-notes-list {
    padding-left: 0;
}
.app-notes-screen .app-notes-list li {
    list-style: none;
}