.app-modal-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.3);
}

.app-modal-wrapper .app-modal {
    /*margin-bottom: -200%;*/
    /*transition: margin-bottom 1s;*/
    /*transition-delay: .5s;*/
    width: 90%;
    max-width: 560px;
    border-radius: 5px;
    background: #fff;
}
.app-modal-wrapper .app-modal--header {
    position: relative;
}
.app-modal-wrapper .app-modal--header .title {
    padding: 20px 10px 10px;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
}

.app-modal-wrapper .app-modal--header .close-modal {
    position: absolute;
    top: 8px;
    right: 8px;
    color: red;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
}
.app-modal-wrapper .app-modal--header .close-modal:active {
    transform: scale(.98);
}