.app-calendar {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.app-calendar--month {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app-calendar--month .right-arrow,
.app-calendar--month .left-arrow {
    width: 30px;
    text-align: center;
    color: #000;
    background: #fff;
    cursor: pointer;
    user-select: none;
    padding: 10px 0;
}
.app-calendar--month .left-arrow {
    margin-right: auto;
}
.app-calendar--month .right-arrow {
    margin-left: auto;
}
.app-calendar--month .month-name {
    text-align: center;
    padding: 10px 0;
}
.app-calendar--week-days,
.app-calendar--month-week {
    display: flex;
    /*justify-content: space-between;*/
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
.app-calendar--month-week {
    flex: 1;
}
.app-calendar--month-week.end-align {
    justify-content: flex-end;
}
.app-calendar--month-week.start-align {
    justify-content: flex-start;
}
.app-calendar--week-day {
    text-align: center;
}
.app-calendar--week-day,
.app-calendar--month-day {
    width: calc(100% / 7 - 21px);
    padding: 10px;
    border-left: 1px solid grey;
    position: relative;
}
.app-calendar--month-day {
    cursor: pointer;
    user-select: none;
}
.app-calendar--month-day.selected-day {
    background: #dedede;
}
.app-calendar--month-day.current-day {
    background: #f6f6f6;
}
.app-calendar--month-day.disabled {
    position: relative;
    opacity: .4;
}
.app-calendar--month-day.disabled:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: not-allowed;
}
.app-calendar--month-day .number {
    text-align: right;
    font-size: 25px;
    font-weight: 700;
}
/*.app-calendar--week-day:last-of-type,*/
.app-calendar--month-week.start-align .app-calendar--month-day:last-of-type:not(:nth-child(7)) {
    border-right: 1px solid grey;
}



.app-calendar-table {
    width: 100%;
    height: 100%;
}

.app-calendar-table .nav-row,
.app-calendar-table .week-days-row {
    height: 40px;
}
.app-calendar-table .week-days-row .day {
    height: 40px;
}
.app-calendar-table .day {
    width: calc(100% / 7);
    /*border: 1px solid red;*/
    position: relative;
    height: 75px;
}
.app-calendar-table .day .day-button {
    font-size: 25px;
}
.app-calendar-table .day .app-badge span {
    right: -10px;
}
.app-calendar-table .day .day-button.current-day {
   background: rgba(236, 236, 236, 0.5);
}
.app-calendar-table .day.selected:before {
    content: '';
    position: absolute;
    left: calc(50% - 35px);
    top: calc(50% - 35px);
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: red;
}
.app-calendar-table .day .number {
    font-size: 2.3em;
    position: relative;
}

.app-event-dialog-content,
.app-event-dialog-content:first-child {
    padding-top: 0!important;
}

.app-add-event-button {
    position: fixed;
    right: 25px;
    bottom: 25px;
}