.app-events-screen {
    margin: 0!important;
    height: 100%;
    /*flex-grow: 1;*/
}
.app-events-screen .app-events-screen--column {
    padding: 8px;
    height: 100%;
}
.app-events-screen .app-events-screen--column .app-card {
    height: 100%;
    overflow-x: auto;
}

.app-events-screen .grid-container {
    height: calc(100% - 16px);
}