.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.app-main-content-container {
  /* footer height + header height + 2px border */
  height: calc(100vh - 64px);
  background: linear-gradient(45deg, #dcebf5 50%, #e3f2fd 100%);
}
input {
  box-sizing: border-box;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
