.form-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: linear-gradient(45deg,  #0d47a1 10%, #1565c0 20%, #1976d2 30%, #1e88e5 40%, #2196f3 50%, #42a5f5 60%, #64b5f6 70%, #90caf9 80%, #bbdefb 90%, #e3f2fd 100%);*/
    background: linear-gradient(45deg, #bbdefb 50%, #e3f2fd 100%);
}
.form-wrapper .form {
    width: 90%;
    max-width: 450px;
}
.form-wrapper .form .label {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}
.form-wrapper .form .input-field {
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    margin-bottom: 5px;
    font-size: 16px;
    border: 1px solid #868383;
    background: #fbfbfb;
}
.form-wrapper .form .input-field:focus {
    outline: none;
}
.form-wrapper .form .error-string {
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    color: #c01811;
}
.form-wrapper .form .submit-button {
    margin-top: 16px;
    margin-bottom: 8px;
}
.form-wrapper .form .submit-button:disabled {
    cursor: not-allowed;
}
/*.form-wrapper .form .submit-button:active,*/
/*.form-wrapper .form .submit-button:focus {*/
    /*outline: none;*/
/*}*/
/*.form-wrapper .form .submit-button:active {*/
    /*transform: scale(.98);*/
/*}*/
