.read-mode-wrapper {
    width: 100%;
    padding: 10px;
}
.read-mode-wrapper .note-row {
    margin-bottom: 10px;
}
.read-mode-wrapper .note-row .label {
    font-weight: 800;
    margin-bottom: 5px;
}
.read-mode-wrapper .note-row .value {
    padding-left: 20px;
    max-height: 250px;
    overflow: hidden;
    overflow-y: auto;
}
.read-mode-wrapper .close-button {
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #868383;
    background: #fbfbfb;
    width: 100px;
    margin-left: auto;
    display: block;
    text-transform: uppercase;
}
.read-mode-wrapper .close-button:disabled {
    opacity: .9;
    cursor: not-allowed;
}
.read-mode-wrapper .close-button:active,
.read-mode-wrapper .close-button:focus {
    outline: none;
}
.read-mode-wrapper .close-button:active {
    transform: scale(.98);
}